@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.App {
  text-align: center;
  height: 300px;
  padding: 20px;
}

form {
  margin: 20px 35px 0px 35px;
  padding: 20px;
}

.budget-header{
  /* font-family: 'Gugi', cursive; */
  font-family: 'Bungee Outline', cursive;
  font-size: 45px;
}
.welcome-text {
  font-family: 'Allura', cursive;
  font-size: 50px;
  color:#FFFF00;
  background-color: #c8b7f0;
}

.home-text{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.greeting-text {
  font-family: 'Kaushan Script', cursive;
}